
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
body{
  background:  #1A0B2E;
}

/* header part css start */
.header {
  width: 100%;
  background-color: #1A0B2E;
  box-sizing: border-box;
  padding-top: 30px;

} 
.navbar{
    width: 79%;
    max-width: 1600px;
    /* border: 3px solid white; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo img{
    width: 140px;
    height: 60px;
    cursor: pointer;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 32px;
  cursor: pointer;
}
.nav-links a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
}
.nav-links a:hover{
  color: tomato;
}
.subscribe-btn{
  padding: 12.5px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 10000px ;
  background: linear-gradient(
    90deg,
    #ffeb3b,
    #ff2bbf,
    #7a00ff
  );
  background-size: 200% 200%;
  box-shadow:
    0 0 20px rgba(255, 43, 191, 0.6),
    0 0 40px rgba(122, 0, 255, 0.4);

  animation: gradientMove 4s ease infinite;
  transition: transform 0.3s ease;
}
.subscribe-btn:hover{
  transform: scale(1.08);
}
/* animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.hamburger {
  display: none;
  
  cursor: pointer;
}

.hero{
    min-height: 100vh;
    background-image: url("../assets/hero-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.hero-circle {
    width: 350px;
    height: 350px;
    background: url("../assets/hero-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.hero-circle img {
    width: 110px;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00ffb3;
    color: #000;
    padding: 6px 14px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
}
.badge:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.6);
}
.hero-content h1 {
    font-size: 3.75rem;
    margin-bottom: 12px;
    color: #FFFFFF;
}
.hero-content p {
    max-width: 550px;
    font-size: 16px;
    opacity: 0.85;
    margin: 0 auto 30px;
    line-height: 1.6;
    color: #FFFFFF;
}
.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 22px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    
    transition: all 0.3s ease;
}
.hero-buttons img {
    width: 18px;
}
.spotify-btn{
  border: none;
  background: linear-gradient(
    45deg,
    #ffeb3b,
    #ff2bbf,
    #7a00ff);
  color: #ffffff;
}
.spotify-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 128, 0.6);
}
.youtube-btn{
    background: transparent;
    border: 2px solid #00ffb3;
    color: #00ffb3;
}
.youtube-btn:hover {
    background: #00ffb3;
    color: #000;
    transform: scale(1.05);
}

/* about podcast section start */
.about{
  background: linear-gradient(180deg, #14002e, #0b001c);
  padding: 60px 20px;
}
.container{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.about h1{
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.description{
  font-size: 1rem;
  color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto 15px;
  line-height: 1.7;
}
.divider {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 50px 0;
}
.stats{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.stat {
  flex: 1;
  min-width: 200px
}
.stat h2 {
  font-size: 2.2rem;
  color: #2cff8f;
  margin-bottom: 8px;
}

.stat span {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #cfcfcf;
}

/* choose tech wave */
/* ===== TechWave Section ===== */
.techwave {
  max-width: 1200px;
  margin: 80px auto;
  padding: 40px;
}

/* Section Title */
.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  color: #ffffff;
}

/* Grid Layout */
.feature-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-areas:
    "audio mobile"
    "audio global"
    "interview resource";
  gap: 25px;
}

/* Feature Card */
.feature-card {
  background: #2a135f;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s ease;
}

/* Grid Areas */
.feature-card.audio {
  grid-area: audio;
}

.feature-card.mobile {
  grid-area: mobile;
}

.feature-card.global {
  grid-area: global;
}

.feature-card.interview {
  grid-area: interview;
}

.feature-card.resource {
  grid-area: resource;
}

/* Hover Effect */
.feature-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

/* Icon Box */
.icon-box {
  width: 55px;
  height: 55px;
  background: #3b1b7a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 28px;
  height: 28px;
}

/* Card Text */
.feature-card h3 {
  font-size: 20px;
  color: #ffffff;
}

.feature-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #d6d6e7;
}

/* Featured Episodes */

.featured {
  padding: 50px;
}

.featured h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.card-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1a0c3a;
  border-radius: 20px;
  padding: 16px;
  max-width: 360px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.video-box {
  position: relative;
  padding-top: 56.25%;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 14px;
}

.video-box iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.card h3 {
  font-size: 18px;
  margin: 8px 0;
}

.card p {
  font-size: 14px;
  color: #cfcfcf;
  line-height: 1.5;
}

.time {
  display: inline-block;
  margin-top: 8px;
  font-size: 13px;
  color: #32ff7e;
}

/*  */
.host-section {
  max-width: 1200px;
  margin: auto;
  padding: 70px 20px;
}

.section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 45px;
}

/* ========================
   HOST CARD
======================== */
.host-card {
  background: linear-gradient(135deg, #2a0a4a, #1e0836);
  border-radius: 26px;
  padding: 45px;
  display: flex;
  align-items: center;
  gap: 32px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

/* */
.host-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 4px solid #6d28d9; */
}

/* ========================
   CONTENT
======================== */
.host-content h2 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 14px;
}

.host-content p {
  color: #cfc3df;
  line-height: 1.7;
  max-width: 896px;
}

/* ========================
   SOCIAL ICONS (IMAGE BASED)
======================== */
.social-icons {
  margin-top: 22px;
  display: flex;
  gap: 14px;
}

.social-icons a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #3a1369;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-icons img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.social-icons a:hover {
  background: #7c3aed;
  transform: translateY(-4px);
}














/* for mobile or small device */
@media (max-width: 576px){

  .navbar{
    padding: 14px 20px;
  }

  /* Hide menu & button */
  .nav-links,
  .subscribe-btn{
    display: none;
  }

  /* Show hamburger */
  .hamburger{
    display: block;
  }

  /* hero section */
  .hero{
        padding: 0;
  }

  .hero-circle {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
    }

    .hero-circle img {
        width: 80px;
    }

    .badge {
        font-size: 10px;
        padding: 4px 10px;
        top: 8px;
        right: 8px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 12px;
    }

    .hero-buttons button {
        width: 100%;
        justify-content: center;
    }

    .about h1 {
    font-size: 42px;
  }
  /* about podcast section */

  .stats {
    justify-content: center;
  }

  .stat{
    width: 45%;
    min-width: unset;   /* main section */
    flex: unset;        /* main section */
  }

  /* choose tech wave section */
    .feature-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "interview"
      "resource";
  }
  .card-row {
    flex-direction: column;
    align-items: center;
  }

  /* meet host section start */
  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 35px 25px;
  }

  .host-image img {
    width: 130px;
    height: 130px;
  }

  .section-title {
    font-size: 34px;
  }

  .host-content h2 {
    font-size: 26px;
  }

  .social-icons {
    justify-content: center;
  }


}